In [2]:
from node2vec import Node2Vec
import networkx as nx
import matplotlib.pyplot as plt
%matplotlib inline
%env PYTHONHASHSEED=0
import numpy as np
import pandas as pd
from IPython.display import clear_output

env: PYTHONHASHSEED=0

In [23]:
# read csv from data folder
df = pd.read_csv('data/training_data.csv')

In [26]:
# rename columns 
df.columns = ['month', 'white_ID', 'black_ID', 'score']
df

       month  white_ID  black_ID  score
0          1        73      1246    0.5
1          1        73      5097    0.5
2          1        73      5104    0.5
3          1        73      7321    1.0
4          1        73      7375    0.5
...      ...       ...       ...    ...
65048    100      8617      1536    0.5
65049    100      8621       102    0.0
65050    100      8621      5463    1.0
65051    100      8621      5814    0.5
65052    100      8621      6864    0.0

[65053 rows x 4 columns]

In [29]:
white_players=df['white_ID'].unique()
black_players=df['black_ID'].unique()

In [22]:
len(white_players)

917

In [21]:
# check if white and black players share values
len(np.intersect1d(white_players, black_players))

812

In [13]:
df[df['White Player #']==4]

     Month #  White Player #  Black Player #  Score
0         96               4            2084    0.5
531       97               4             813    1.0
532       97               4            3818    0.0
533       97               4            6937    0.5
534       97               4            7751    0.0